:root {
  --color-black: rgb(0,0,0);
  --color-blue: #32c7ff;

  --color-bg: #ffffff;
	--color-bg-alt: #e1dfe8;
	--color-fg: #414f57;
	--color-fg-bold: #313f47;
	--color-fg-light: #616f77;
	--color-border: #c8cccf;
	--color-accent1: #ffa596;
	--color-accent2: #00e4ff;
	--color-highlight: #ff7496;
}
