@import "../../style";

.bio {
  position: relative;
  max-width: 24em;
  min-width: 21em;
  padding: 3em;

  background: var(--color-bg);
  border-radius: var(--size-border-radius);
  cursor: default;

  text-align: center;

  opacity: 0.95;
  transform-origin: 50% 50%;
  /* transform: rotateY(90deg); */
}

.bio-head {
  display: flex;
  border-bottom: 1px solid var(--color-border);
  margin: -3em -3em 2em -3em;
  padding: 3em 3em 2em 3em;
  line-height: 2em;
  justify-content: space-between;
}

.bio-about {
  text-align: right;
}

.bio-name {
  font-size: 13pt;
  margin: 0;

  @media (--xsmall-viewport) {
    font-size: 11pt;
  }
}

.bio-role {
  margin: 0;
}

.bio-personal {
  vertical-align: top;
  text-transform: initial;
  margin-top: 0.5em;
  display: inline-block;
}

.bio-personal + .bio-personal {
  margin-left: 0.7em;
}

.bio-personal-qr {
  float: left;
  padding-top: 3px;
}
