@import "../index.css";

:global body {
  height: 100%;
  margin: 0;
  background-color: var(--color-bg);
  background-image:
    url('../images/overlay.png'),
    linear-gradient(60deg, color(var(--color-accent1) alpha(50%)) 5%, color(var(--color-accent2) alpha(35%))),
    url('../images/bg1.jpg');
  background-repeat:		repeat,			no-repeat,			no-repeat;
  background-size:		100px 100px,	cover,				cover;
  background-position:	top left,		center center,		bottom center;
  background-attachment:	fixed,			fixed,				fixed;

  /* background-image: url('../images/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed; */

  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  /* -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; */
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

:global body:after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  opacity: 1;
  z-index: 1;

  background-color: var(--color-bg);
  background-image:
    url('../images/overlay.png'),
    linear-gradient(60deg, color(var(--color-accent1) alpha(50%)) 5%, color(var(--color-accent2) alpha(35%)));
  background-repeat:		repeat,			no-repeat;
  background-size:		100px 100px,	cover;
  background-position:	top left,		center center;
  transition: opacity var(--duration-bg) ease-out;
}

:global body.is-loaded:after {
  opacity: 0;
}
