@import "../../style";

.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  perspective: 1000px;
  position: relative;
  min-height: 100%;
  padding: var(--size-element-margin);
  box-sizing: border-box;
  z-index: 2;
}

.app > * {
  z-index: 1;
}

.app:before {
  content: '';
  display: block;
}
