@import "../../style";

.social {
  cursor: default;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item {
  display: inline-block;
  padding: 0.5em;
}

.social-link {
  position: relative;
  display: block;
  color: var(--color-border);
  line-height: 0;
}

.social-link:hover {
  border-color: var(--color-highlight);
}

.social-link-circle {
  border-radius: 100%;
  border: solid var(--size-border-width) var(--color-border);
  padding: 0.8em;
}

