@import "../../style";

.card {
  position: relative;
  max-width: 24em;
  min-width: 21em;
  padding: 4.5em 3em 3em 3em;

  background: var(--color-bg);
  border-radius: var(--size-border-radius);
  cursor: default;

  text-align: center;

  opacity: 0;
  transform: rotateX(15deg);

  transform-origin: 50% 50%;

  transition:
    opacity var(--duration-main) ease,
    transform var(--duration-main) ease;

  @nest :global(body.is-loaded) & {
    transform: rotateX(0deg);
    opacity: 0.95;
  }
}
