.icon {
  display: inline-block;
  fill: currentColor;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.icon_size_xxl {
  width: 60px;
  height: 60px;
}

.icon_size_xl {
  width: 40px;
  height: 40px;
}

.icon_size_l {
  width: 32px;
  height: 32px;
}

.icon_size_m {
  width: 24px;
  height: 24px;
}

.icon_size_s {
  width: 20px;
  height: 20px;
}

.icon_size_xs {
  width: 12px;
  height: 12px;
}
