@import "../index.css";

@define-mixin Copyright {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  list-style: none;

  &-item {
    display: inline-block;
    margin: 0 0 0 calc(0.85em - calc(var(--size-letter-spacing) * 2));
    padding: 0 0 0 0.85em;
    border-left: solid var(--size-border-width) rgba(255,255,255,0.5);
    line-height: 1;

    &:first-child {
      border-left: 0;
    }
  }
}
