@charset "utf-8";
@import "./index.css";
@import "./font.css";
@import "./media.css";
@import "./components/*.css";

:global :--common-font {
  color: var(--color-fg);
  font-family: var(--font-family);
  font-size: 13pt;
  font-weight: var(--font-weight);
  line-height: 1.5em;
  letter-spacing: var(--size-letter-spacing);
  text-transform: uppercase;
}

@media (--xlarge-viewport) {
  :global :--common-font {
    font-size: 11pt;
  }
}

@media (--xsmall-viewport) {
  :global :--common-font {
    font-size: 10pt;
    line-height: 1.75;
  }
}

@media (--xxsmall-viewport) {
  :global :--common-font {
    font-size: 9pt;
    line-height: 2;
  }
}

@media (--xxxsmall-viewport) {
  :global :--common-font {
    font-size: 8pt;
    line-height: 3;
  }
}

:global :--heading {
  color: var(--color-fg-bold);
  line-height: 1.5;
  font-weight: var(--header-font-weight);
  margin: 0 0 calc(var(--size-element-margin) * 0.5) 0;
}

:global h1 {
  font-size: 1.85em;
  letter-spacing: calc(var(--size-letter-spacing) * 1.1);
  margin: 0 0 calc(var(--size-element-margin) * 0.35) 0;
}

/* @include breakpoint(xsmall) {
  h1 {
    font-size: 1.65em;
  }
} */

:global h2 {
  font-size: 1.25em;
}

:global :--heading-small {
  font-size: 1em;
}

:global sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

:global sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

:global hr {
  border: 0;
  border-bottom: solid var(--size-border-width) var(--color-border);
  margin: calc(var(--size-element-margin) * 2) 0;
}

:global :--strong {
  color: var(--color-fg-bold);
}

:global :--italic {
  font-style: italic;
}

:global p {
  margin: 0 0 var(--size-element-margin) 0;
}

:global a {
  color: inherit;
  text-decoration: none;
  transition:
    color var(--duration-transition) ease,
    border-color var(--duration-transition) ease;
}

:global a:before {
  transition:
    color var(--duration-transition) ease,
    text-shadow var(--duration-transition) ease;
}

:global a:hover {
  color: var(--color-highlight);
}
