@import "../../style";

.nomatch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  perspective: 1000px;
  position: relative;
  min-height: 100%;
  padding: var(--size-element-margin);
  box-sizing: border-box;
  z-index: 2;
}

.nomatch > * {
  z-index: 1;
}

.nomatch:before {
  content: '';
  display: block;
}

.nomatch-header {
  color: #fff;
}

.nomatch-back {
  color: #fff;
}

.nomatch-content {
  text-align: center;
}
